    <div id="profile-page-header" class="card">

      <div class="card-image waves-effect waves-block waves-light">
        <%= cl_image_tag @profile.photo, class: "activator", alt: "profile_background" %>
      </div>

      <div class="card-content user-profile-card">
        <%= link_to edit_profile_path(current_user), class: "btn-floating activator waves-effect waves-light green lighten-1 right hoverable edit-btn-profile" do %>
        <i class="large material-icons">mode_edit</i>
        <% end %>

        <p class="description-profile grey-text text-lighten-2">NAME</p>

        <h5 class="description-text text-darken-4"><%= @profile.first_name %> <%= @profile.last_name %></h5>
        <p class="description-profile grey-text text-lighten-2">BIRTHDATE</p>

        <p class="text-darken-4 description-text"><%= @profile.date_of_birth.try(:strftime, "%e %b %Y") %></p>
        <p class="description-profile grey-text text-lighten-2">MY ADDRESS</p>
        <p class="text-darken-4 description-text">
          <%= @profile.street_name %> <%= @profile.street_number %>
        </p>
        <p class="text-darken-4 description-text">
          <%= @profile.zipcode %> <%= @profile.city %> <%= @profile.country %>
        </p>
        <br>
        <p class="description-profile grey-text text-lighten-2">BIOGRAPHY</p>
        <p class="text-darken-4 description-text">
          <%= @profile.bio %>
        </p>
        <br>
        <p class="description-profile grey-text text-lighten-2">INTERESTS</p>
        <p class="text-darken-4 description-text">
          <%= @profile.tag_list %>
        </p>
        <br>
        <p class="description-profile grey-text text-lighten-2">KIDS</p>
        <ul>
          <% @profile.kids.each do |kid| %>
          <li class="text-darken-4 description-text"><%= kid.gender.capitalize %> <%= kid.age(kid.date_of_birth) %>

            <%= link_to profile_kid_path(profile_id: kid.profile_id, id: kid.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn-floating activator waves-effect waves-light red lighten-1 right hoverable" do %>
              <i class="material-icons">close</i>
            <% end %>
          </li>
          <% end %>
        </ul>
        <%= render 'kids/form' %>

        <% if @profile != current_user.profile%>
          <%= link_to "Message", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.profile.id, "data-rip" => @profile.id %>
        <% end %>

      </div>





    </div>
