<div class="card-content">
  <h5 class="title grey-text text-darken-4">... I am hosting</h5>
  <table>
    <thead>
      <tr>
          <th>Event description</th>
          <th>Event date</th>
          <th>Event location</th>
      </tr>
    </thead>

    <tbody>
       <% current_user.profile.events.each do |event| %>
      <tr>

          <td width="500"><%= link_to event_path(event) do %>
            <%= event.description %>
          <% end %>
          </td>
          <td><%= event.start_date.try(:strftime, "%e %b %Y") %></td>
          <td><%= event.street_name %> <%= event.street_number %>  </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
