<div class="card-content">
  <% if @attendingevents.empty? %>
    <h5 class="title grey-text text-darken-4">... not attending any events ...</h5>
  <% else %>
    <h5 class="title grey-text text-darken-4">... attending ...</h5>
    <table>
      <thead>
        <tr>
            <th>Event description</th>
            <th>Event date</th>
            <th>Event location</th>
        </tr>
      </thead>

      <tbody>
      <% @attendingevents.each do |event| %>
        <tr>      
          <td width="500"><%= link_to event_path(event) do %>
            <%= event.description %>
          <% end %>
            </td>
            <td><%= event.start_date.try(:strftime, "%e %b %Y") %></td>
            <td><%= event.street_name %> <%= event.street_number %>  </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
