<div class="container">
  <%= simple_form_for @profile do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender, collection: ["female", "male", "prefer not to say"] %>
    <%= f.input :date_of_birth %>
    <%= f.input :tag_list, class: "chips chips-autocomplete" %>
    <%= f.input :street_name %>
    <%= f.input :street_number %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :pregnant %>
    <%= f.input :due_date %>
    <%= f.input :bio, as: :text %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, "Submit", class: "waves-effect waves-light btn yellow darken-4" %>
  <% end %>
</div>
