<div class="row">
<%= simple_form_for @profile, defaults: { input_html: { class: 'col s12' } } do |f| %>
<div class="row">
<div class="input-field col s6">
<%= f.input :first_name %>
</div>
<div class="input-field col s6">
<%= f.input :last_name %>
</div>
</div>
<div class="row">
<div class="input-field col s6">
<%= f.input :gender, label: '', include_blank: 'Select your gender', collection: ["female", "male", "prefer not to say"] %>
</div>
<div class="input-field col s6">
<%= f.input :date_of_birth, wrapper_html: { class: 'datepicker' } %>
</div>
</div>
<%= f.input :street_name %>

<%= f.input :street_number %>

<%= f.input :zipcode %>

<%= f.input :city %>

<%= f.input :country %>



<%= f.input :pregnant %>

<%= f.input :due_date %>

<%= f.input :bio, as: :text, class: "materialize-textarea" %>

<%= f.input :photo %>

<%= f.input :photo_cache, as: :hidden %>


<%= f.button :submit, "Submit", class: "waves-effect waves-light btn yellow darken-4" %>

<% end %>
</div>
