<div class="card-content">
  <table>
    <thead>
      <tr>
          <th>Event description</th>
          <th>Event date</th>
          <th>Event location</th>
          <th>People attending</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% current_user.profile.events.each do |event| %>
          <td><%= link_to event_path(event) do %>
            <%= event.description %>
          <% end %>
          </td>
          <td><%= event.start_date %></td>
          <td><%= event.street_name %> <%= event.street_number %></td>
          <td><%= event.attendances.count + 1 %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>
