<% content_for :title, "Parents Connect" %>

<div class="container">

  <h1>Parents in your Neighbourhood</h1>

  <div class="flex-container">

    <% @profiles.each do |profile| %>
    <div class="card medium hoverable">
      <div class="card-image">
        <img class="activator" src="<%= profile.photo.url(:standard) %> ">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <%= profile.first_name%> <%= profile.last_name %>
          <% if profile.pregnant %>
            <p class="due_date">Due date: <%= profile.due_date.try(:strftime, '%b %Y') %></p>
          <% end %>
        </span>
        <ul class="kids-list">
        <% profile.kids.each do |kid| %>
        <li>
          <% if kid.gender == "male" %>
            <%= image_tag 'mars.svg', class: 'logo-extra-small' %>
          <% elsif kid.gender == "female" %>
            <%= image_tag 'venus.svg', class: 'logo-extra-small' %>
          <% else %>
            <%= image_tag 'intersex.svg', class: 'logo-extra-small' %>
          <% end %>
          <%= kid.age(kid.date_of_birth) %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"> <%= profile.first_name %> <%= profile.last_name %> <i class="material-icons right">close</i></span>
          <% if profile.pregnant %>
            <p class="due_date">Due date: <%= profile.due_date.try(:strftime, '%b %Y') %></p>
          <% end %>
        <p class="description-profile">BIO</p>
        <p class="due_date"> <%= profile.bio %> </p>
        <p class="description-profile">KIDS</p>
        <ul class="kids-list">
        <% profile.kids.each do |kid| %>
        <li class="due_date">
          <% if kid.gender == "male" %>
            <%= image_tag 'mars.svg', class: 'logo-extra-small' %>
          <% elsif kid.gender == "female" %>
            <%= image_tag 'venus.svg', class: 'logo-extra-small' %>
          <% else %>
            <%= image_tag 'intersex.svg', class: 'logo-extra-small' %>
          <% end %>
          <%= kid.age(kid.date_of_birth) %>
          </li>
          <% end %>
        </ul>

        <p><a class="waves-effect waves-light btn profile-card-button" href=" <%= profile_path(profile) %>">Connect</a></p>
        <!-- Add neighbourhood  -->
      </div>
    </div>
    <% end %>
  </div>
</div>
