<div class="container">
<% content_for :title, "Parents Connect - Log In or Sign Up" %>

<h2>Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.button :submit, "Sign up", class: "waves-effect waves-light btn yellow darken-4" %>
<% end %>

<%= render "devise/shared/links" %>
</div>
