<div class="container">
    <%= simple_form_for [@profile, @event] do |f| %>
        <%= f.input :description %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :start_time%>


        <div class="materialPicker timepicker">
            <div class="timeContainer first">
                <div class="waves-effect waves-light btn pickerButton btnUp">
                    <i class="material-icons">add</i>
                </div>
                <div class="timenumber" id="time-hour">
                    15
                </div>
                <div class="waves-effect waves-light btn pickerButton btnDown">
                    <i class="material-icons">add</i>
                </div>
            </div>
            
            
            <div class="timeContainer second">
                 <div class="waves-effect waves-light btn pickerButton btnUp">
                    <i class="material-icons">add</i>
                </div>
                <div class="timenumber" id="time-minute">
                    00
                </div>
                <div class="waves-effect waves-light btn pickerButton btnDown">
                    <i class="material-icons">add</i>
                </div>
            </div>
        </div>



        <%= f.input :duration%>
        <%= f.input :street_name %>
        <%= f.input :street_number %>
        <%= f.input :zipcode %>
        <%= f.input :city %>
        <%= f.input :country %>
        <%= f.button :submit, "Create Event", class: "waves-effect waves-light btn yellow darken-4", id: "event-submit-button" %>
  <% end %>
</div>
