<%= simple_form_for [@profile, @event] do |f| %>
<div class="row">
    <div class="col s6">
        <%= f.input :description  %>
    </div>

    </div>
    <div class="row">
        <div class="col s6">
            <%= f.input :start_date %>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <%= f.input :end_date %>
        </div>
    </div>

    <%= f.input :street_name %>
    <%= f.input :street_number %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%#= f.input_field :profile_id, as: :hidden,  value: @host.id %>
    <%= f.button :submit, "Create Event", class: "waves-effect waves-light btn yellow darken-4" %>
    <% end %>



