<h1>Events</h1>
<!-- <p>Find me in app/views/events/index.html.erb</p> -->



    <div class="row">
    <%= @events.each do |event| %>
      <div class="col s12 m5">
        <div class="card-panel grey-lighten">
          <span class="grey-text">
            <%= event.description %>
            <%= event.start_date %>
            <%= event.end_date %>
            <%= event.full_address %>
          </span>
        </div>
      </div>
    <% end %>
    </div>


