<% content_for :title, "#{@event.description}" %>

<div class="container">

  <h1> <%= @event.description %> </h1>
  <div class="row">
    <div class="col s6" >
      <div class="padding">
        <p> When?  <%= @event.start_date.try(:strftime, "%e %b %Y") %> at <%= @event.start_time.try(:strftime, "%l:%M %p" ) %> </p>
        <p> Duration:
        <% if @event.duration >= 60 %>
          <p><%= @event.duration / 60 %> hours </p>
          <% else  %>
           <p> <%= @event.duration %> minutes </p>
          <% end %>
        </p>
        <p> Where? </p> <%= @event.street_name %>
        <%= @event.street_number %>
        <%= @event.city %>
        <%= @event.zipcode %>
        <%= @event.country %></div>
        <% if @event.profile == current_user.profile %>
          <%= link_to edit_profile_event_path(@event), class: "btn-floating activator waves-effect waves-light green lighten-1 right hoverable" do %>
          <i class="large material-icons">mode_edit</i>
          <% end %>
        <% end %>
      </div>
      <div class="col s6">
        <div id="map" style="width: 100%; height: 400px;"></div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <% if @event.profile == current_user.profile %>
        <h3>you're the host!</h3>
        <%= link_to "Want to cancel the event?", event_path, class: "btn", method: :delete, data: { confirm: "Are you sure?" } %>
        <% elsif @event.profile_attending?(@attendances, current_user.profile.id) %>
        <%= link_to "Can't go?", attendance_path, class: "btn", method: :delete %>
        <% else %>
        <%= render 'events/attendancebutton' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h3> Attending </h3>
        <% @attendances.each do |attendance| %>
        <%= link_to profile_path(attendance.profile) do %>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="<%= attendance.profile.photo %>" alt="" class="circle">
            <span class="title"> <%= attendance.profile.first_name %> <%= attendance.profile.last_name %></span>
            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
          </li>
        </ul>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>



  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 0) {
  handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
