<% content_for :title, "Parents Connect" %>


<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center yellow-text text-darken-4  ">Parents Connect</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text home-title ">We're here to help you connect with parents in your neighbourhood</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'splash.jpg', style: "transform: translate3d(-50%, 221px, 0px); display: block; width: 100%;" %></div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag 'pregnancy.png', class: "logo-medium z-depth-1 responsive-img activator", alt: "pregnancy icon" %></h2>
          <h5 class="center">Connect with expectant parents</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag 'mother.svg', class: "logo-medium z-depth-1 responsive-img activator", alt: "pregnancy icon" %></h2>
          <h5 class="center">Get to know other parents in your area</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag 'playground.svg', class: "logo-medium z-depth-1 responsive-img activator", alt: "playground icon" %></h2>
          <h5 class="center">Create events to meet others</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Team Section   -->
    <div class="row">
      <div class="col s12 center">
       <h3><i class="mdi-content-send brown-text"></i></h3>
       <h4>About Us</h4>
       <p class="center-align light">We are a motivated group of Le Wagon students</p>
     </div>
   </div>

<div class="flex-container">

  <div class="row">

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'carolyn.jpg' %>
          <span class="card-title">Carolyn Johnson Orosz</span>
          <a class="btn-floating halfway-fab" href="https://www.linkedin.com/in/carolyn-johnson-orosz-55908315/">
            <i class="fa fa-linkedin"></i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div> <!-- end 1st card -->



      <!--     <div class="row"> -->
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <%= image_tag 'tijmen.jpg' %>
        <span class="card-title">Tijmen De Graaff</span>
        <a class="btn-floating halfway-fab" href="https://www.linkedin.com/in/tijmen-de-graaff/">
          <i class="fa fa-linkedin"></i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div> <!-- end 2nd card -->




          <!--       <div class="row"> -->
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <%= image_tag 'oliver.jpg' %>
                <span class="card-title">Oliver Lehner</span>
                <a class="btn-floating halfway-fab" href="https://www.linkedin.com/in/oliver-lehner-90953b63/">
                  <i class="fa fa-linkedin"></i></a>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div> <!-- end 3th card -->
        </div>
</div>

<!-- <div class="container">
  <h4>We love feedback</h4>

  <form action="carolyn.johnson87@gmail.com" method="post" enctype="text/plain">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Comment:<br>
    <input type="text" name="comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
  </form>
</div>
-->
<!--
<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div> -->
</footer>
