<% content_for :title, "Parents Connect - Connect with parents in your neighbourhood" %>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center yellow-text text-darken-4  ">Parents Connect</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text home-title ">We're here to help you connect with parents in your neighbourhood</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'splash.jpg', style: "transform: translate3d(-50%, 221px, 0px); display: block; width: 100%;" %></div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag 'pregnancy.png', class: "logo-medium responsive-img activator", alt: "pregnancy icon" %></h2>
          <h5 class="center"> Meet expectant parents</h5>

<!--           <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p> -->
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag 'mother.svg', class: "logo-medium responsive-img activator", alt: "pregnancy icon" %></h2>
          <h5 class="center">Connect with local parents</h5>

<!--           <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p> -->
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><%= image_tag 'playground.svg', class: "logo-medium responsive-img activator", alt: "playground icon" %></h2>
          <h5 class="center">Find events in your neighborhood</h5>

<!--           <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Team Section   -->
    <div class="row">
      <div class="col s12 center">
       <h3><i class="mdi-content-send brown-text"></i></h3>
       <h4>About Us</h4>
       <p class="center-align light">We are a motivated group of Le Wagon students. Le Wagon is a leading 9 week intensive coding school that brings together an international group of entrepreneurs and creatives and gives them the skills to become full stack web developers.

        For our final project we created Parents Connect which is a social connectivity platform to help parents meet other parents and see what events are taking place in their neighbourhood.
       </p>
     </div>
   </div>

   <div class="flex-container">

    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag 'tijmen.jpg' %>
            <span class="card-title">Tijmen De Graaff</span>
            <a class="btn-floating halfway-fab" href="https://www.linkedin.com/in/tijmen-de-graaff/">
              <i class="fa fa-linkedin"></i></a>
            </div>
            <div class="card-content card-home">
            <p>Tijmen is our front-end ninja and our creative ace. Prior to Le Wagon he was an Italian chef extraordinaire. In his spare time you'll find him enjoying music at a local concert. </p>
            </div>
          </div>
        </div> <!-- end 2nd card -->


        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <%= image_tag 'carolyn.jpg' %>
              <span class="card-title">Carolyn Johnson Orosz</span>
              <a class="btn-floating halfway-fab" href="https://www.linkedin.com/in/carolyn-johnson-orosz-55908315/">
                <i class="fa fa-linkedin"></i></a>
              </div>
              <div class="card-content card-home">
                <p>Carolyn is the mastermind behind Parents Connect and keeps inspiring us to work on this great community. When she is not coding she enjoys spending time with her family and kniting. </p>
              </div>
            </div>
          </div> <!-- end 1st card -->


          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <%= image_tag 'oliver.jpg' %>
                <span class="card-title">Oliver Lehner</span>
                <a class="btn-floating halfway-fab" href="https://www.linkedin.com/in/oliver-lehner-90953b63/">
                  <i class="fa fa-linkedin"></i></a>
                </div>
                <div class="card-content card-home">
                  <p> Oliver is the back-end master and back-bone of our team. No-nonsense, honest and above all a good sense of humor.  </p>
                </div>
              </div>
            </div> <!-- end 3th card -->
          </div>
        </div>

<!-- <div class="container">
  <h4>We love feedback</h4>

  <form action="carolyn.johnson87@gmail.com" method="post" enctype="text/plain">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Comment:<br>
    <input type="text" name="comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
  </form>
</div>
-->
