<% content_for :title, "Parents Connect - Log In or Sign Up" %>
<div class="container">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.input :email, required: false, autofocus: true %>

          <%= f.input :password, required: false %>

          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

          <%= f.button :submit, "Log in", class: "waves-effect waves-light btn yellow darken-4" %>
      <% end %>

      <%= render "devise/shared/links" %>
</div>
