<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> </title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= render 'application/favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Parents Connect - Connect with parents in your neighbourhood">
  <meta name="author" content="Parents Connect">
  <meta content='<%= user_signed_in? ? current_user.profile.id : "" %>' name='profile-id'/>

  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>

  <%= csrf_meta_tags %>

  <meta property="og:title" content="Parents Connect - Connect with parents in your neighbourhood">
  <meta property="og:image" content="http://www.parentsconnect.eu/logo_1200_630.png">
  <meta property="og:image:url" content="http://www.parentsconnect.eu/logo_1200_630.png">

  <meta property="og:description" content="We're here to help you connect with parents in your neighbourhood.">
  <meta property="og:url" content="http://www.parentsconnect.eu/">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Parents Connect"/>
</head>
<body class="Site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <main class="Site-content">
  <%= yield %>
  </main>
  <%= render 'shared/footer' %>


  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

  <%= javascript_include_tag 'application' %>

  <%= yield(:after_js) %>

</body>

  <% if current_user %>
     <script type="text/javascript">
         channel = <%= raw ('"' + '/notifications' + current_user.profile.id.to_s + '"') %>
         PrivatePub.subscribe(channel, function(data) {

         var sender_id = data.sid;
         var recipient_id = data.rip;
         var conversation_id = data.cid;


         $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
             chatBox.chatWith(conversation_id);
         });

         });
     </script>
      <%= subscribe_to "/notifications" + current_user.profile.id.to_s %>
     <% end %>
</html>
